mat-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Adjust the values as needed */
}

input{
    border-radius: 10px ;
    border: none;
    padding: 15px;
    &:focus{
        outline: none;
    }
    &::placeholder{
        font-size: large;
        color: rgb(28, 28, 28);
    }
}