<mat-card>
  <form [formGroup]="noteData" (ngSubmit)="onSubmit()">
    <mat-card-header>
      <input type="text" placeholder="Title" formControlName="title" />
    </mat-card-header>
    <mat-card-content>
      <textarea
        appAutoGrowInput
        type="text"
        placeholder="Take a note..."
        formControlName="note"
      ></textarea>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <button
        mat-flat-button
        *ngIf="isEditView"
        (click)="onEditNote()"
        type="button"
      >
        Save
      </button>
      <button
        mat-flat-button
        *ngIf="isEditView"
        (click)="onDeleteNote()"
        type="button"
      >
        Delete
      </button>
      <button mat-flat-button *ngIf="!isEditView" type="submit">Close</button>
    </mat-card-actions>
  </form>
</mat-card>
