<div>
  <mat-toolbar color="primary" class="header-container">
    <mat-icon>menu</mat-icon>
    <mat-icon class="header-icon">note</mat-icon>
    <span>Keep</span>
    <span class="header-spacer"></span>
    <mat-icon
      class="header-icon"
      aria-hidden="false"
      aria-label="header refresh icon"
      >refresh</mat-icon
    >
    <mat-icon
      class="header-icon"
      aria-hidden="false"
      aria-label="header settings icon"
      >settings</mat-icon
    >
  </mat-toolbar>
</div>
<div style="max-width: 50%; margin-left: 20px">
  <app-note-input-box></app-note-input-box>
</div>
