<div>
  <mat-toolbar color="primary" class="header-container">
    <mat-icon>menu</mat-icon>
    <mat-icon class="header-icon">note</mat-icon>
    <span>Keep</span>
    <span class="header-spacer"></span>
    <mat-icon
      class="header-icon"
      aria-hidden="false"
      aria-label="header refresh icon"
      >refresh</mat-icon
    >
    <mat-icon
      class="header-icon"
      aria-hidden="false"
      aria-label="header settings icon"
      >settings</mat-icon
    >
  </mat-toolbar>
</div>
<div class="add-note-container">
  <app-note-input-box
    (closeNote)="onCloseNote()"
    (submitNote)="onSubmitNote($event)"
  ></app-note-input-box>
</div>
<div class="notes-list-container">
  <div class="note-list">
    <app-note
      class="note-list-item"
      *ngFor="let note of noteList | keyvalue"
      [noteId]="note.key"
      [title]="'note.title'"
      [note]="'note.note'"
    ></app-note>
  </div>
</div>
