<div>
  <mat-toolbar color="primary" class="header-container">
    <mat-icon>menu</mat-icon>
    <mat-icon class="header-icon">note</mat-icon>
    <span>Keep</span>
    <span class="header-spacer"></span>
    <mat-icon
      class="header-icon"
      aria-hidden="false"
      aria-label="header refresh icon"
      >refresh</mat-icon
    >
    <mat-icon
      class="header-icon"
      aria-hidden="false"
      aria-label="header settings icon"
      >settings</mat-icon
    >
  </mat-toolbar>
</div>
<div class="add-note-container">
  <app-add-note *ngIf="!isAddNote" (addNote)="onAddNote()"></app-add-note>
  <app-note-input-box
    *ngIf="isAddNote"
    (closeNote)="onCloseNote()"
    (submitNote)="onSubmitNote($event)"
  ></app-note-input-box>
</div>
<div class="notes-list-container">
  <div class="note-list">
    <app-note
      class="note-list-item"
      *ngFor="let note of noteList"
      [title]="note.title"
      [note]="note.note"
      (cardClick)="onSelectNote($event)"
    ></app-note>
  </div>
</div>
<!-- Modal box -->
<ng-container *ngIf="showDialog" #dialogContainer>
  <div class="modal-overlay">
    <app-note-input-box
      class="modal-content"
      [inputNote]="selectedNote"
      (closeNote)="onCloseModal()"
    ></app-note-input-box>
  </div>
</ng-container>
