// --primary-2: #3317ba;
// --secondry-2: #ffcbcb;
// --white: white;
// --black: black;
// --blue: #5928e5;
// --misty-rose: #ffd9d9;
// --white-smoke: #efefef;
// --magenta: #fe00fe;

.header-container {
  background-color: #5928e5;
  margin-bottom: 20px;
}

.header-icon {
  color: #efefef;
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.header-icon {
  padding: 0 14px;
}

.header-spacer {
  flex: 1 1 auto;
}

.add-note-container {
  display: flex;
  justify-content: center;
}

.add-note-container > * {
  min-width: 40%;
}

.notes-list-container {
  max-width: 95%;
  margin: auto;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}

.note-list-item {
  min-width: 20%;
}
